<div class="row">
<h1 class="header--title">
     Display name and number (as words) 
</h1> 
<div>
    <img width="100" src="http://adminnews24.info/wp-content/uploads/2017/05/small-pictures-4-small-business-hub-gosmallbusiness.jpg" alt="..." class="img-circle">
</div>
<form>
  <div class="form-group">
    <label for="fullName"></label>
    <input type="text" class="form-control" #fullName placeholder="Full name">
  </div>
    
  <div class="form-group">
    <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
    <div class="input-group">
      <div class="input-group-addon">$</div>
      <input type="text" class="form-control" #exampleInputAmount placeholder="Amount">
    </div>
  </div>
  <button type="button" class="btn btn-success" (click)="onSubmit(exampleInputAmount.value, fullName.value)">Display</button>
</form>
<div *ngIf="isSuccessSubmit">
    <div>Name : {{name}}</div>
    <div>Amout : {{amountInWords}}</div>
</div>
<div *ngIf="!isSuccessSubmit && amountInWords">
    <div>Amout : {{amountInWords}}</div>
</div>

</div>