
.form {
	&__buttons { 
    display: flex;
    align-items: center;
    justify-content: center;

    .btn {
      margin: 0.5em;
    }
  }
}

.form-control {	
	color: black;
	border: 1px solid black;	
	border-radius: 0.3em;	
	background-color: white;
}

.help-block {
    font-size: 14px;
    color: red !important;
}
.divider {
    border-top: 1px solid rgba(84, 94, 105, 0.43);
    margin-bottom: 1em;
}