@import './base/_reset';
@import './base/_box-sizing';
@import './base/_form';
@import './base/layout';
html {
  //overflow-y: scroll; // Force scroll bar
}

body {
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: none; //iOS fix for rendering of editors picks in landscape mode
}